* {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
}
body {
  background-color: lightblue;
  padding: 20px;
}
h1 {
  color: navy;
  margin-left: 20px;
  text-align: center;
}
div {
  padding: 40px 0;
}
img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 160px;
}
p {
  text-align: center;
  font-size: 18px;
}
